<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.edcan.billim">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemeWithActionBar">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".Tutorial"
            android:theme="@style/AppTheme">

            </activity>
        <activity
            android:name=".DeveloperInfo"
            android:label="@string/title_activity_developer_info"
            android:parentActivityName=".SettingActivity" />
        <activity
            android:name=".PostActivity"
            android:label="@string/title_activity_post"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SelectActivity"
            android:label="@string/title_activity_select"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".ViewActivity"
            android:label="@string/title_activity_view"
            android:parentActivityName=".MainActivity"
            android:theme="@style/ViewTheme" />
        <activity
            android:name=".MyPageActivity"
            android:label="@string/title_activity_my_page"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UsedHistoryActivity"
            android:label="@string/title_activity_used_history"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SettingActivity"
            android:label="환경설정"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".GroupEditActivity"
            android:label="@string/title_activity_group_edit"
            android:theme="@style/Theme.AppCompat.Light.Dialog"></activity>
        <activity
            android:name=".GroupAddActivity"
            android:label="@string/title_activity_group_add"
            android:theme="@style/AppThemeWithActionBar"></activity>
        <activity
            android:name=".utils.CustomDialog"
            android:label="@string/title_activity_group_add"
            android:theme="@style/Theme.AppCompat.Light.Dialog"></activity>
    </application>

</manifest>
