<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.edcan.billim" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemeWithActionBar" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".DeveloperInfo"
            android:label="@string/title_activity_developer_info"
            android:parentActivityName=".SettingActivity" />
        <activity
            android:name=".PostActivity"
            android:label="@string/title_activity_post"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SelectActivity"
            android:label="@string/title_activity_select"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".ViewActivity"
            android:label="@string/title_activity_view"
            android:theme="@style/AppTheme"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MyPageActivity"
            android:label="@string/title_activity_my_page"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UsedHistoryActivity"
            android:label="@string/title_activity_used_history"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SettingActivity"
            android:label="환경설정"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".TutorialActivity"
            android:label="@string/title_activity_tutorial"
            android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>
